/*
 * Font
 */
@font-face {
	font-display: swap;
	font-family: Deezer;
	font-style: normal;
	font-weight: 400;
	src: url(fonts/deezer-regular.woff2) format("woff2"),
		url(fonts/deezer-regular.woff) format("woff")
}

@font-face {
	font-display: swap;
	font-family: Deezer;
	font-style: normal;
	font-weight: 700;
	src: url(fonts/deezer-bold.woff2) format("woff2"),
		url(fonts/deezer-bold.woff) format("woff")
}

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	margin: 0;
}

body {
	position: relative;
	padding: 60px 50px;

	font-size: 62.5%;
	font-family: Deezer, Arial, sans-serif;

	-webkit-font-smoothing: antialiased;
}

body::before {
	content: '';
	position: fixed;
	top: 0;
	left: 0;

	width: 0;
	height: 0;
	border-style: solid;
	border-width: 200px 200px 0 0;
	border-color: #fe447d transparent transparent transparent;

	z-index: 2;
}

body::after {
	position: absolute;
	content: '';
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	background-color: #191922;
	border-radius: 4px;
	opacity: .4;

	z-index: 1;
}

/**************************************************
* Logo
**************************************************/

#logo {
	position: fixed;
	right: 0;
	bottom: 0;

	display: inline-block;
	padding: 15px 20px;

	z-index: 3;
}

#logo img {
	position: relative;
	height: 30px;
}

/**************************************************
* infos
**************************************************/

#infos {
	position: absolute;
	left: 50px;
	top: 50px;

	z-index: 3;
}

#infos h2,
#infos h3 {
	display: block;
	margin: 0 0 .1em 0px;

	font-size: 3em;
	text-transform: uppercase;
}

#infos h2 a,
#infos h3 a {
	display: inline;
	padding: .25em .5em;

	background: #fff;
	-webkit-box-decoration-break: clone;

	text-decoration: none;
	color: #32323D;
	line-height: 1.75em;
}

#infos h3 {
	font-size: 2em;
}

/**************************************************
* cover
**************************************************/

#cover {
	position: relative;
	height: 100%;
	display: flex;
	align-items: center;
	z-index: 2;
}

#cover a {
	display: flex;
	align-self: center;
	margin: auto;
	max-height: 100%;
}

#cover img {
	object-fit: contain;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
}

/**************************************************
* background
**************************************************/

#background {
	position: fixed;
	left: -50px;
	top: -50px;
	right: -50px;
	bottom: -50px;
	z-index: -1;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #000;
	-webkit-filter: blur(30px);
	filter: blur(60px);
	transition: background-image 1s ease-in-out;
}