/*
 * Font
 */
@font-face {
	font-display: swap;
	font-family: Deezer;
	font-style: normal;
	font-weight: 400;
	src: url(fonts/deezer-regular.woff2) format("woff2"),
		url(fonts/deezer-regular.woff) format("woff")
}

@font-face {
	font-display: swap;
	font-family: Deezer;
	font-style: normal;
	font-weight: 700;
	src: url(fonts/deezer-bold.woff2) format("woff2"),
		url(fonts/deezer-bold.woff) format("woff")
}

html,
body {
	height: 100%;
	margin: 0;
}

body {
	position: relative;
	padding: 100px 50px;
	box-sizing: border-box;

	display: flex;
	justify-content: center;

	text-align: center;
	font-size: 62.5%;
	font-family: Deezer, Arial, sans-serif;

	-webkit-font-smoothing: antialiased;
}

/*
 * Track
 */

#track {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

#track .track-cover {
	display: flex;
	justify-content: center;
}

#track .track-cover a {
	height: 100%;
}

#track .track-cover a img {
	width: auto;
	height: 100%;
	border-radius: 4px;
	box-shadow: 0 0 10px rgba(0, 0, 0);
}

#track .track-title {
	font-size: 3em;
	font-weight: 700;
	margin: .5em 0;
}

#track .track-artist {
	font-size: 2em;
	font-weight: 400;
	margin: 0;
}

#track .track-artist a,
#track .track-title a {
	text-decoration: none;
}

/*
 * Logo
 */

#logo {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50px;
	padding: 10px 0;
	box-sizing: border-box;
}

#logo img {
	position: relative;
	height: 30px;
}